#daemon configuration
#telnet_port 4444
#gdb_port 3333
source [find interface/stlink.cfg]
# Interface (using versaloon)
#adapter driver st-link
transport select hla_swd

reset_config srst_only # srst_nogate

# swd_mode 2
# swd_delay 2
# set WORKAREASIZE 0x800
# source [find target/stmcfg]
